In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv("500_Person_Gender_Height_Weight_Index.csv")
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [3]:
data['obese'] = (data.Index >= 4).astype('int')
data.drop('Index', axis = 1, inplace = True)

In [4]:

print(
  " Misclassified when cutting at 100kg:",
  data.loc[(data['Weight']>=100) & (data['obese']==0),:].shape[0], "\n",
  "Misclassified when cutting at 80kg:",
  data.loc[(data['Weight']>=80) & (data['obese']==0),:].shape[0]
)

 Misclassified when cutting at 100kg: 18
 Misclassified when cutting at 80kg: 63

In [9]:
1-sum(data.Gender.value_counts(normalize=True)**2)

0.4998

In [10]:
pi = data.Gender.value_counts(normalize=True)
sum(-1*pi*np.log2(pi+1e-9))

0.9997114388674198

In [18]:
male_count = sum(data['Gender'] == 'Male')
non_male_count = len(data['Gender'] == 'Male') - male_count

In [19]:
print(male_count, non_male_count)

245 255

In [23]:
# entropy data['obese']
pi = data.obese.value_counts(normalize=True)
Eo = sum(-1*pi*np.log2(pi+1e-9))
Eo

0.9285950911297123

In [24]:
pi

obese
1    0.656
0    0.344
Name: proportion, dtype: float64

In [27]:
# entropy obese give male
pi = data['obese'][data['Gender']=='Male'].value_counts(normalize=True)
Eo_g_M = sum(-1*pi*np.log2(pi+1e-9))
Eo_g_M

0.9155506749293424

In [29]:
pi = data['obese'][data['Gender']!='Male'].value_counts(normalize=True)
Eo_g_xM = sum(-1*pi*np.log2(pi+1e-9))
Eo_g_xM

0.9400481750893617

In [32]:
Ig = Eo - (male_count/(male_count+non_male_count))*Eo_g_M - (non_male_count/(male_count+non_male_count))*Eo_g_xM

In [33]:
Ig

0.0005506911187600494