In [1]:
from pypika import Query, Table, Field

In [2]:
q = Query.from_('customers').select('id', 'fname', 'lname', 'phone')

In [3]:
str(q)

'SELECT "id","fname","lname","phone" FROM "customers"'

In [4]:
q.get_sql()

'SELECT "id","fname","lname","phone" FROM "customers"'

In [6]:
from pypika import Table, Query

customers = Table('customers')
q = Query.from_(customers).select(customers.id, customers.fname, customers.lname, customers.phone)

In [7]:
Table('x_view_customers').as_('customers')
q = Query.from_(customers).select(customers.id, customers.phone)

In [8]:
from pypika import Table, Query, Schema
views = Schema('views')
q = Query.from_(views.customers).select(customers.id, customers.phone)

In [9]:
q

SELECT "id","phone" FROM "views"."customers"

In [10]:
from pypika import Table, Query, Database
my_db = Database('my_db')
q = Query.from_(my_db.analytics.customers).select(customers.id, customers.phone)

In [11]:
from pypika import Order
Query.from_('customers').select('id', 'fname', 'lname', 'phone').orderby('id', order=Order.desc)

SELECT "id","fname","lname","phone" FROM "customers" ORDER BY "id" DESC

In [12]:
from pypika import Field
q = Query.from_('account').select(
    Field('revenue') - Field('cost')
)
q

SELECT "revenue"-"cost" FROM "account"

In [13]:
customers = Table('customers')
q = Query.from_(customers).select(
    customers.id, customers.fname, customers.lname, customers.phone
).where(
    customers.lname == 'Mustermann'
)
q

SELECT "id","fname","lname","phone" FROM "customers" WHERE "lname"='Mustermann'

In [15]:
customers = Table('customers')
q = Query.from_(customers).select(
    customers.id,customers.fname
).where(
    customers.age[18:65] & customers.status.isin(['new', 'active'])
)
q

SELECT "id","fname" FROM "customers" WHERE "age" BETWEEN 18 AND 65 AND "status" IN ('new','active')

In the Criterion class, there are the static methods any and all that allow building chains AND and OR expressions with a list of terms.